.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.centerPage {
  justify-content: center;
}

.topPage {
  justify-content: flex-start;
  padding-top: 100px;
}

.info {
  margin: 15px 0;
  font-size: 1.1rem;
}
